angr==9.2.159
angr-management==9.2.159
archinfo==9.2.159
asttokens==3.0.0
backports-strenum==1.3.1
bidict==0.23.1
binsync==5.2.2
bitarray==3.4.2
bitstring==4.3.1
cachetools==6.0.0
capstone==5.0.3
cart==1.2.3
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
claripy==9.2.159
cle==9.2.159
comm==0.2.2
contourpy==1.3.2
cxxheaderparser==1.5.0
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
exceptiongroup==1.3.0
executing==2.2.0
filelock==3.18.0
fonttools==4.58.1
future==1.0.0
ghidra-bridge==1.0.0
gitdb==4.0.12
gitpython==3.1.44
greenlet==3.2.2
idna==3.10
ipykernel==6.29.5
ipython==8.37.0
jedi==0.19.2
jfx-bridge==1.0.0
jpype1==1.5.2
jupyter-client==8.6.3
jupyter-core==5.8.1
kiwisolver==1.4.8
libbs==2.15.1
markdown-it-py==3.0.0
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
monkeyhex==1.7.4
mpmath==1.3.0
mulpyplexer==0.9
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.2.6
packaging==25.0
parso==0.8.4
pefile==2024.8.26
pexpect==4.9.0
pillow==11.2.1
platformdirs==4.3.8
plumbum==1.9.0
ply==3.11
prompt-toolkit==3.0.51
protobuf==6.31.1
psutil==7.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
pycparser==2.22
pycryptodome==3.23.0
pydemumble==0.0.1
pydot==4.0.0
pyelftools==0.32
pyformlang==1.0.11
pygments==2.19.1
pyhidra==1.3.0
pyparsing==3.2.3
pypcode==3.2.1
pyqodeng==0.0.13
pyside6==6.9.0
pyside6-addons==6.9.0
pyside6-essentials==6.9.0
pyside6-qtads==4.4.0
pysocks==1.7.1
python-dateutil==2.9.0.post0
pyvex==9.2.159
pyzmq==26.4.0
qtawesome==1.4.0
qtpy==2.4.3
rapidfuzz==3.13.0
requests==2.32.3
rich==14.0.0
rpyc==6.0.2
setuptools==80.9.0
shiboken6==6.9.0
six==1.17.0
smmap==5.0.2
sortedcontainers==2.4.0
sqlalchemy==2.0.41
stack-data==0.6.3
sympy==1.14.0
thefuzz==0.22.1
toml==0.10.2
tomlkit==0.13.3
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typing-extensions==4.14.0
unique-log-filter==0.1.0
urllib3==2.4.0
wcwidth==0.2.13
z3-solver==4.13.0.0
